.header {
    display: flex;
    justify-content: space-between;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    border-radius: 50%;
}
.muñeco {
    height: 300px;
    width: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
}

.undertitle {
    text-align: start;
}

.calltoaction {
    display: flex;
    gap: 100px;
}
.trash {
    display: flex;
    flex-direction: column;
}